

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Resend confirmation instructions</h1>
    </div> 
  <div class="form-label-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class:"form-control",  required , autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" , class:"btn btn-lg btn-primary btn-block" %>
  </div>
  <h1 class="h6 mb-3 font-weight-light"><%= render "devise/shared/links" %></h1>
<% end %>


